{% extends "layout.html" %}

{% load static %}
{% load humanize %}

{% block head %}{% endblock head %}

{% block content %}
<ul class="message">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|safe }}</li>
    {% endfor %}
</ul>

<h2>Open Challenges</h2>
<ul>
{% if open_challenges %}
{% for challenge in open_challenges %}
    <li><a href="{% url 'user:profile' challenge.challenger.username %}">{{ challenge.challenger.userprofile.handle }}</a> has challenged you to a match! Via <a href="{% url 'ladder:detail' challenge.ladder.slug %}">{{ challenge.ladder.name }}</a></li>
    <ul>
        <li>This match expires {{ challenge.deadline|naturaltime }}.</li>
        <li>
            <form style="display:inline-block;" action="{% url 'user:message_challenges' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="note_id" value="{{ challenge.pk }}">
                <input type="hidden" name="action" value="accept_challenge">
                <input type="submit" value="Accept">
            </form>
            <form style="display:inline-block;" action="{% url 'user:message_challenges' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="note_id" value="{{ challenge.pk }}">
                <input type="hidden" name="action" value="decline_challenge">
                <input type="submit" value="Forfeit">
            </form>
        </li>
    </ul>
    
{% endfor %}
{% else %}
    <li>No open challenges.</li>
{% endif %}
</ul>

<h2>Pending Challenges</h2>
<ul>
{% if pending_challenges %}
{% for challenge in pending_challenges %}
    <li>You have challenged <a href="{% url 'user:profile' challenge.challengee.username %}">{{ challenge.challengee.userprofile.handle }}</a> to a match! Via <a href="{% url 'ladder:detail' challenge.ladder.slug %}">{{ challenge.ladder.name }}</a></li>
    <ul>
        <li>This match expires {{ challenge.deadline|naturaltime }}.</li>
        <li>
            <form style="display:inline-block;" action="{% url 'user:message_challenges' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="note_id" value="{{ challenge.pk }}">
                <input type="hidden" name="action" value="cancel_challenge">
                <input type="submit" value="Cancel">
            </form>
        </li>
    </ul>
{% endfor %}
{% else %}
    <li>No pending challenges.</li>
{% endif %}
</ul>

<h2>Past Challenges</h2>
<ul>
{% if past_challenges %}
{% for challenge in past_challenges %}
    <li>{{ challenge }} ({{ challenge.ladder.name }})</li>
{% endfor %}
{% else %}
    <li>No pending challenges.</li>
{% endif %}
</ul>


{% endblock content %}
