{% extends "layout.html" %}

{% load staticfiles %}
{% load humanize %}

{% block head %}{% endblock head %}

{% block content %}
<ul class="message">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>

<h1>Inbox</h1>

<ul>
    <li><a href="{% url 'user:message_challenges' %}">{{ num_challenges }} Open Challenge{{ num_challenges|pluralize }}</a></li>
    <li><a href="{% url 'user:message_matches' %}">{{ num_matches }} Open Match{{ num_matches|pluralize:"es" }}</a></li>
</ul>

{% endblock content %}
