{% extends "layout.html" %}

{% load staticfiles %}
{% load humanize %}

{% block head %}{% endblock head %}

{% block content %}
<ul class="message">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>

<h2>Ladders:</h2>
<ul>
{% for ladder in ladder_list %}
<li><a href="{{ ladder.get_absolute_url }}">{{ ladder }}</a> ({{ ladder.game.abv }})</li>
{% endfor %}
<li><a href="/create/">+ Create a ladder</a></li>
</ul>

{% if your_challenges %}
<hr>
<h2>Your Challenges</h2>
<ul>
    {% for challenge in your_challenges %}
    <li>{{ challenge }}</li>  
    {% endfor %}
</ul>
{% endif %}

<hr>
<h2>Recent Matches:</h2>
<table>
<tr>
    <th>Date</th>
    <th colspan="2">Challenger</th>
    <td></td>
    <th colspan="2">Defender</th>
    <th>Ladder</th>
    <th>Winner</th>
</tr>
{% for match in match_list %}
{% if match.winner %}
<tr>
    <td><a href="{% url 'ladder:match_detail' match.ladder.slug match.id %}">{{ match.date_complete|naturaltime }}</a></td>
    <td><img src="{{ match.challenger.userprofile.avatar }}" /></td>
    <td><a href="{% url 'user:profile' match.challenger.username %}">{{ match.challenger.userprofile.handle }}</a></td>
    <td><strong>vs</strong></td>
    <td><img src="{{ match.challengee.userprofile.avatar }}" /></td>
    <td><a href="{% url 'user:profile' match.challengee.username %}">{{ match.challengee.userprofile.handle }}</a></td>
    <td><a href="{% url 'ladder:detail' match.ladder.slug %}">{{ match.ladder }}</a></td>
    <td><img src="{{ match.winner.userprofile.avatar }}" /></td>
</tr>
{% endif %}
{% endfor %}
</table>
{% endblock content %}
