{% extends "layout.html" %}

{% load staticfiles %}
{# load ladder_extras #}

{% block head %}{% endblock head %}

{% block content %}
{% load humanize %}

<h1>{{ ladder.name }}</h1>
<h4><em>{{ ladder.game.name }}</em></h4>
<p>{{ ladder.description }}</p>
<br>
{% if user.is_authenticated %}
{% if ladder.signups %}
    {% if join_link %}<a href="{{ ladder.get_absolute_url }}/join">Join this Ladder!</a>{% endif %}
    {% if not join_link %}<a href="{{ ladder.get_absolute_url }}/leave">Leave this Ladder!</a>{% endif %}
{% else %}
    <em>Signups for this ladder are currently closed.</em>
{% endif %}
{% endif %}
<ul class="message">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% if rank_list %}
{% if not join_link and current_player_rank %}<p>Your current rank on the ladder is: {{ current_player_rank.rank|ordinal }}</p>{% endif %}
<hr>
<h2>Current Ranks</h2>
<table>
    <tr>
        <td colspan="2"></td>
        <th>Player</th>
    </tr>
    {% for player_rank, player_busy in rank_list %}   
        <tr>
            <td>{{ player_rank.rank|ordinal }}</td>
            <td>{% if player_rank.rank != 1 %}{{ player_rank.get_arrow_display }}{% endif %}</td>
            <td><span class="rank{{ player_rank.rank|ordinal }}"><img src="{{ player_rank.player.userprofile.avatar }}" /> <a href="{% url 'user:profile' player_rank.player.username %}">{{ player_rank.player.userprofile.handle }}</a></span></td>
            <td>
                {% if player_rank.rank in challengables %}
                <form action="{% url 'ladder:issue_challenge' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="challenger" value="{{ user.pk }}" />
                <input type="hidden" name="challengee" value="{{ player_rank.player.pk }}" />
                <input type="hidden" name="ladder" value="{{ ladder.slug }}" />
                <input type="submit" value="CHALLENGE" {% if can_challenge or player_busy %}disabled="disabled"{% endif %} />
                </form>
                {% endif %}
            </td>
        </tr>
    {% endfor %}
</table>
{% endif %}
{% if open_challenges %}
<hr>
<h2>Open Challenges</h2>
<ul>
    {% for challenge in open_challenges %}
    <li><img src="{{ challenge.challenger.userprofile.avatar }}" />{% if challenge.challenger_rank %} [{{ challenge.challenger_rank }}{{ challenge.get_challenger_rank_icon_display }}]{% endif %}vs <img src="{{ challenge.challengee.userprofile.avatar }}" />{% if challenge.challengee_rank %} [{{ challenge.challengee_rank }}{{ challenge.get_challengee_rank_icon_display }}]{% endif %}{% if challenge.deadline %} Expires: <em>{{ challenge.deadline|naturaltime }}</em>{% endif %}</li>
    {% endfor %}
</ul>
{% endif %}
<hr>
<h2>Recent Matches:</h2>
<table>
<tr>
    <th>Date</th>
    <th colspan="2">Challenger</th>
    <td></td>
    <th colspan="2">Defender</th>
    <th colspan="2">Winner</th>
</tr>
{% for match in match_list %}
{% if match.winner %}
<tr>
    <td>{{ match.date_complete|naturaltime }}</td>
    <td><img src="{{ match.challenger.userprofile.avatar }}" /></td>
    <td><a href="{% url 'user:profile' match.challenger.username %}">{{ match.challenger.userprofile.handle }}</a>{% if match.challenger_rank %} [{{ match.challenger_rank }}{{ match.get_challenger_rank_icon_display }}]{% endif %}</td>
    <td><strong>vs</strong></td>
    <td><img src="{{ match.challengee.userprofile.avatar }}" /></td>
    <td><a href="{% url 'user:profile' match.challengee.username %}">{{ match.challengee.userprofile.handle }}</a>{% if match.challengee_rank %} [{{ match.challengee_rank }}{{ match.get_challengee_rank_icon_display }}]{% endif %}</td>
    <td><img src="{{ match.winner.userprofile.avatar }}" /></td>
    <td><em><a href="{% url 'user:profile' match.winner.username %}">{{ match.winner.userprofile.handle }}</a></em>{% if match.winner_rank %} [{{ match.winner_rank }}{{ match.get_winner_rank_icon_display }}]{% endif %}</td>
</tr>
{% endif %}
{% endfor %}
</table><br />
<a href="{% url 'ladder:match_list' ladder.slug %}">See all</a>
{% endblock content %}
