{% extends "layout.html" %}

{% load static %}
{% block head %}{% endblock head %}


{% block content %}
<ul class="message">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
<h1>{{ ladder.name }}</h1>
<h4><em>{{ ladder.game.name }}</em></h4>
<br />
<form action="{% url 'ladder:update_ladder' ladder.slug  %}" method="post">
    {% csrf_token %}
    {{ form }}
    <br />
    <input type="submit" value="Submit" /> <a href="{% url 'ladder:detail' ladder.slug %}">cancel edits</a>
</form>
{% endblock content %}